nextflow.enable.dsl=2

import java.time.*
Date now = new Date()

params {
    tracedir  = "pipeline_info"
    timestamp = now.format("yyyyMMdd-HH-mm-ss")
}

timeline {
    enabled = true
    file    = "${params.tracedir}/${params.timestamp}_timeline.html"
}
report {
    enabled = true
    file    = "${params.tracedir}/${params.timestamp}_report.html"
}

params {
    // ── Input ──────────────────────────────────────────────────────────────
    // Seçenek 1: SRR numaralarını içeren TXT dosyası (her satırda bir SRR)
    sra_list  = null

    // Seçenek 2: FASTQ dosyalarının bulunduğu klasör
    reads     = "input_folder/*.fastq"

    // ── Output ─────────────────────────────────────────────────────────────
    outdir    = "Results"

    // ── Kaynak Limitleri ───────────────────────────────────────────────────
    max_cpu    = 14
    max_memory = '14GB'
    max_time   = '24h'

    // ── Veritabanı / Referans Yolları ──────────────────────────────────────
    kraken2_db       = "/home/analysis/kraken2_db"
    ref_genome       = "data/ref_genome.fna"
    clair3_model     = "/opt/models/r941_prom_hac_g360+g422"
    bakta_db         = "/home/analysis/bakta_db"
    plasmidfinder_db = "/home/analysis/plasmidfinder_db"
    snpeff_db        = "Salmonella_enterica"
}

profiles {
    standard {
        process.executor = 'local'
        params.conda     = true
    }
}

executor {
    // Aynı anda çalışan maksimum süreç sayısı
    queueSize = 3
}

env {
    JAVA_OPTS = '-Xmx14g'
}
